<!-- Barra de Navegacion-->
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container d-flex align-items-center">
        <h1 class="navbar-brand">Proyecto Final Programación de interfases SIG</h1>
        <a class="navbar-brand" href="/">
            <img src="img/descarga.png" 
            alt="Bootstrap1"  height="45">
        </a>  
        <a class="navbar-brand" href="/">
            <img src="img/escudo.png" 
            alt="Bootstrap1"  height="45"
            class="invertida">
        </a>
    </div>
</nav>

